<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

  <link rel="stylesheet" type="text/css" href="style.css" >
  <script type="text/javascript" src="home.js"></script>

</head>

<body>
    <div id="core-content-wrapper">
        <section class="page head">
            <h1><b>Home <span id="photo-count"></span></b></h1>
        </section>
        <section class="page sidebar">
            <p>sidebar</p>
        </section>
        <section class="page posts-content">
            <div id="page-posts">
                <!--<div class="post-wrapper">
                    <div class="page post-media">
                    <ul class="post-list">
                        <li>
                            <img class="post-image" src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
                        </li>
                        <li>
                            <p>hello</p>
                        </li>
                        <li>
                            <p>date</p>
                        </li>
                    </ul>
                
                    </div>
                </div>
                <div class="post-wrapper">
                <div class="page post-media">
                    <ul class="post-list">
                        <li>
                            <img class="post-image" src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
                        </li>
                        <li>
                            <p>hello</p>
                        </li>
                        <li>
                            <p>date</p>
                        </li>
                        <li>
                            <p>date</p>
                        </li>
                        <li>
                            <p>date</p>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="post-wrapper">
                <div class="page post-media">
                    <ul class="post-list">
                        <li>
                            <img class="post-image" src="https://via.placeholder.com/600/14ba42">
                        </li>
                        <li>
                            <p>hello</p>
                        </li>
                        <li>
                            <p>date</p>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="post-wrapper">
                <div class="page post-media">
                    <ul class="post-list">
                        <li>
                            <img class="post-image" src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
                        </li>
                        <li>
                            <p>hello</p>
                        </li>
                        <li>
                            <p>date</p>
                        </li>
                    </ul>
                </div>
                </div>!-->

                
                
            </div>
        </section>
        <!-- <section>
            <h2>Author</h>
        </section>
        <section class="post image-content">
            <img src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
        </section>
        <section class="page text-content">
            <p> skjghealkjhgkjpsdafgkl;jdsrglkhjnasd</p>
        </section>
        <section class="page content-info">
            <p>date</p>
        </section> -->
    </div>
    
  
</body>
</html>