<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image Posts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="style.css" >

</head>

<body>
    <div id="core-content-wrapper">
        <section class="page head">
            <h1><b>MY EVIL THREAD</b></h1>
        </section>
        <section class="page sidebar">
            <p>fsadfasdf</p>
        </section>
        <section class="page posts-content">
            <div>
                <table id="posts-table">
                    <tr class="post-row">
                        <td class ="post-info">
                            <ul>
                                <li class="post-title">
                                    <p>my evil post</p>
                                </li>
                                <li class="post-meta">
                                    <p>9/6/96</p>
                                </li>
                            </ul>

                        </td>
                        <td class="post-content">
                            <ul>
                                <li>
                                    <img src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
                                </li>
                                <li>
                                    <p>siodjkgsadkjgkja</p>
                                </li>
                            </ul>

                        </td>
                    </tr>
                    <tr class="post-row">
                        <td class ="post-info">
                            <ul>
                                <li class="post-title">
                                    <p>my evil post 2</p>
                                </li>
                                <li class="post-meta">
                                    <p>4/20/lol</p>
                                </li>
                            </ul>

                        </td>
                        <td class="post-content">
                            <ul>
                                <li>
                                    <img src="meat-dog.gif">
                                </li>
                                <li>
                                    <p>slkjhfhlknajsd</p>
                                </li>
                            </ul>

                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <!-- <section>
            <h2>Author</h>
        </section>
        <section class="post image-content">
            <img src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
        </section>
        <section class="page text-content">
            <p> skjghealkjhgkjpsdafgkl;jdsrglkhjnasd</p>
        </section>
        <section class="page content-info">
            <p>date</p>
        </section> -->
    </div>
    
  
</body>
</html>