


    <div id="core-content-wrapper">
        <section class="page title">
        
            <h1>Login</h1>
        </section>
        <section class="page forms">
            <form method="POST">
                <label for="username">Username:</label><br>
                <input name="username" type="text"><br>
                <label for="password">Password:</label><br>
                <input name="password" type="password"><br>
                <input type="submit" value="login">
            </form>
        </section>
    </div>

  