<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Registration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="style.css" >

  <script type="text/javascript" src="registration.js"></script>

</head>

<body>
    <div id="core-content-wrapper">
        <section class="page title">
            <h1>REGISTER</h1>
        </section>
        <section class="page forms">
            <form name="reg-form">
                <label for="uname">Username:</label><br>
                <input name="uname" type="text"><span class="input-warnings"></span><br>
                <label for="email">Email:</label><br>
                <input name="email" type="email"><span class="input-warnings"></span><br>
                <label for="pswd">Password:</label><br>
                <input name="pswd" type="password"><span class="input-warnings"></span><br>
                <label for="c-pswd">Confirm:</label><br>
                <input name="c-pswd" type="password"><span class="input-warnings"></span><br>
                <label for="age-conf">13+</label>
                <input name="age-conf" type="checkbox"><span class="input-warnings"></span><br>
                <label for="tos">I accept <a href="tos.html">tos</a></label>
                <input name="tos" type="checkbox"><span class="input-warnings"></span><br>
                <input type="submit" value="submit">
            </form>
        </section>
    </div>
  
</body>
</html>